<!DOCTYPE html>
<html>
<head>
	<title>Semi-Restful Users</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'restful/css/style.css' %}"
</head>
<body>
	<div id="container">
		<h1>Edit a new user!</h1>
		<h2>User {{users.id}}</h2>
		<form action="/users/update" method="POST">
			{% csrf_token %}
			<!-- takes a hidden input of the users.id so that the client won't have the option of entering another users id and changing anything!-->
			<input type="hidden" name="id" value="{{ users.id }}">
			<label><h3>First Name:</h3></label>
			<input type="text" name="first_name">
			<label><h3>Last Name:</h3></label>
			<input type="text" name="last_name">
			<label><h3>Email:</h3></label>
			<input type="text" name="email">
			<input class="submit" type="submit" name="submit" value="Update">
		</form>


	</div>

</body>
</html>