<!DOCTYPE html>
<html>
<head>
	<title>Semi-Restful Users</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'restful/css/style.css' %}"
</head>
<body>
	<div id="container">
		<h1>Add a new user!</h1>
		<form action="users/create" method="POST">
			{% csrf_token %}
			<label><h3>First Name:</h3></label>
			<input type="text" name="first_name">
			<label><h3>Last Name:</h3></label>
			<input type="text" name="last_name">
			<label><h3>Email:</h3></label>
			<input type="text" name="email">
			<input class="submit" type="submit" name="submit" value="Create">
		</form>


	</div>

</body>
</html>